{% load staticfiles %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
</head>
<body>
	<div class="card bg-dark text-light">
                            <div class="card-header text-center"><strong>Formulario de registro de usuario</strong></div>
                            <div class="card-body card-block">
                            	<div class="form-group"><label  class=" form-control-label">Cedula</label><input type="text" id="cedula" placeholder="Cedula" class="form-control"></div>

                                <div class="form-group"><label class=" form-control-label">Nombre</label><input type="text" id="nombre" placeholder="Nombre del usuario" class="form-control"></div>

                                <div class="form-group"><label class=" form-control-label">Apellido</label><input type="text" id="apellido" placeholder="Apellido" class="form-control"></div>

                                <div class="form-group"><label  class=" form-control-label">Usuario</label><input type="text" id="usuario" placeholder="Ingresa tu nombre de usuario" class="form-control"></div>

                                <div class="row form-group">
                                    <div class="col-7">
                                        <div class="form-group"><label for="city" class="form-control-label">Roles</label>
											<select name="roles" id="roles" class="form-control" placeholder="Seleccione un modulo" required>
												 <option selected>Elija un rol disponible</option>
												{% for r in roles  %}
													<option value="{{r.id_rol}}">{{r.nombre}}</option>
												{% endfor %}
											</select>
                                        </div>
                                    </div>

                                </div>
     
                            </div>
                        </div>

</body>
</html>